<div class="top-bar">
    <p>Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%! <a href="#"
            style="color: #fff; text-decoration: underline;">Shop Now</a></p>
</div>
<div class="container">
    <div class="nav-container">
        <div class="logo">QATECH</div>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="#">Contact</a>
            <% if (typeof existingUser !=="undefined" && existingUser) { %>
                <a>Xin chào, <%= existingUser.name %>!</a>
                <a href="/user-orders/<%= existingUser._id %>">Đơn Hàng Của Tôi</a>
                <form action="/auth/logout" method="POST"><button type="submit"><a>Đăng xuất</a></button></form>
                <% } else { %>
                    <a href="/auth/login">Đăng nhập</a>
                    <% } %>

        </div>
        <div class="nav-icons">
            <div class="search-bar">
                <input type="text" placeholder="What are you looking for?">
                <button><i class="fas fa-search"></i></button>
            </div>
            <% if(existingUser) { %>
                <a href="/cart/<%= existingUser._id %>"><i class="fas fa-shopping-cart"></i></a>
                <% } else { %>
                    <a href="/cart/"><i class="fas fa-shopping-cart"></i></a>
                    <%} %>
                        <a href="/user"><i class="fas fa-user"></i></a>
        </div>
    </div>
</div>
<div class="category-nav">
    <div class="container">
        <div class="category-list">
            <a href="/shop-page/GPU">Graphics Card</a>
            <a href="/shop-page/CPU">CPU</a>
            <a href="/shop-page/Mainboards">Mainboards</a>
            <a href="/shop-page/PSU">PSU</a>
            <a href="/shop-page/RAM">RAM</a>
            <a href="/shop-page/HDD">HDD</a>
            <a href="/shop-page/Monitors">Monitors</a>
            <a href="/shop-page/SSD">SSD</a>
            <a href="/shop-page/Case">Case PC</a>
        </div>
    </div>
</div>